<button class="btn btn-primary">Log user state</button>

@code {
//[CascadingParameter] private Task<AuthenticationState> authenticationStateTask { get; set; }

//private async Task LogUserAuthenticationState()
//{
//    var authState = await authenticationStateTask;
//    var user = authState.User;

//    if (user.Identity.IsAuthenticated)
//    {
//        Console.WriteLine($"User {user.Identity.Name} is authenticated.");
//    }
//    else
//    {
//        Console.WriteLine("User is NOT authenticated.");
//    }
//}
}
